<div class="container mt-4">
    <h2 class="mb-4">All Orders</h2>
    <button (click)="statView()">Statistik</button>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Table Number</th>
                <th>Meal Status</th>
                <th>Drink Status</th>
                <th>Date & Time</th>
                <th>Waiter</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.id }}</td>
                <td>{{ order.tableNumber }}</td>
                <td>{{ order.mealOrder.status }}</td>
                <td>{{ order.drinkOrder.status }}</td>
                <td>{{ order.dateTime | date: 'medium' }}</td>
                <td>{{ order.waiter }}</td>
                <td><button class="btn btn-danger" (click)="deleteOrder(order.id!)">x</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  