<div class="container mt-4" *ngIf="loaded">
    <h2>Bestelldetails</h2>
    
    <!-- Table Number -->
    <div class="mb-3">
        <strong>Tischnummer:</strong> {{ order.tableNumber }}
    </div>
    
    <!-- Meals Section -->
    <div class="mb-3">
        <h4>Speisen:</h4>
        <ul class="list-group">
        <li *ngFor="let meal of order.mealOrder.meals" class="list-group-item">
            <div>{{ meal?.amount }}x {{ meal?.identifier }} - Preis: {{ meal?.price | currency:'EUR':'symbol':'1.2-2' }}
                - Total: {{ (meal?.price || 0) * (meal?.amount || 0) | currency:'EUR':'symbol':'1.2-2' }}
            </div>
            <div>
                <div><button class="btn btn-success btn-sm m-1 w-auto" (click)="subtotalAddMeal(meal)"><b>{{getMealByName(meal.identifier)}}</b></button></div>
            </div>
        </li>
        <li *ngIf="(!order?.mealOrder?.meals || order.mealOrder.meals.length == 0)" class="list-group-item">Keine Speisen ausgewählt</li>
        </ul>
    </div>
    
    <!-- Drinks Section -->
    <div class="mb-3">
        <h4>Getränke:</h4>
        <ul class="list-group">
        <li *ngFor="let drink of order.drinkOrder.drinks" class="list-group-item">
            <div>{{ drink?.amount }}x {{ drink?.identifier }} - Preis: {{ drink?.price | currency:'EUR':'symbol':'1.2-2' }}
                - Total: {{ (drink?.price || 0) * (drink?.amount || 0) | currency:'EUR':'symbol':'1.2-2' }}
            </div>
            <div>
                <div><button class="btn btn-success btn-sm m-1 w-auto" (click)="subtotalAddDrink(drink)"><b>{{getDrinkByName(drink.identifier)}}</b></button></div>
            </div>
        </li>
        <li *ngIf="(!order?.drinkOrder?.drinks || order.drinkOrder.drinks.length == 0)" class="list-group-item">Keine Getränke ausgewählt</li>
        </ul>
    </div>

    <!-- Back Button -->
    <div class="d-flex flex-row justify-content-between">
        <button class="btn btn-primary" [routerLink]="['']">Zurück</button>
        <button class="btn btn-primary" (click)="clearSubTotal()">Zwischensumme löschen</button>
    </div>
    <div class="mt-3 d-flex flex-row justify-content-between">
        <div><strong>Gesamtsumme:</strong> {{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}</div>
        <div><strong>Zwischensumme:</strong> {{ subtotal.amount| currency:'EUR':'symbol':'1.2-2' }}</div>
    </div>
</div>    
