<div class="print">
    <div id="print-section{{order.id}}">
        <div><strong>Tisch: {{ order.tableNumber }}</strong></div>
    <div>Bestellung {{order.id}}</div>
    <div *ngIf="order.drinkOrder.specialInfo"><b>Info: {{order.drinkOrder.specialInfo}}</b></div>
    <div>Bedienung: {{ order.waiter }}</div>
    <div *ngFor="let drink of order.drinkOrder.drinks">
        <span>{{ drink.identifier }} ({{ drink.amount }}x)</span>
    </div>
    </div>
    <div class="d-flex" style="justify-content: space-between;">
        <div>
            <button class="btn btn-danger m-1" style="font-size: 1.5rem;" (click)="print()" [disabled]="blocked">Druck</button>
            <button class="btn btn-success m-1" style="font-size: 1.5rem;" (click)="setOrderStatus(order, 'READY')">Bereit</button>
        </div>
        <div>
            <button class="btn btn-danger m-1" style="font-size: 0.8rem;" (click)="resetPrintState()" [disabled]="!blocked">Reset</button>
        </div>
    </div>
</div>