<div class="print">
    <div id="print-section{{order.id}}">
        <div><strong>Tisch: {{ order.tableNumber }}</strong></div>
    <div>Bestellung {{order.id}}</div>
    <div *ngIf="order.drinkOrder.specialInfo"><b>Info: {{order.drinkOrder.specialInfo}}</b></div>
    <div>Bedienung: {{ order.waiter }}</div>
    <div *ngFor="let drink of order.drinkOrder.drinks">
        <span>{{ drink.identifier }} ({{ drink.amount }}x)</span>
    </div>
    </div>
    <div *ngIf="!printView">
        <button class="btn btn-success m-1" (click)="setOrderStatus(order, 'READY')">Bereit</button>
        <button class="btn btn-primary m-1" (click)="setOrderStatus(order, 'DELIVERED')">Abgeholt</button>
        <button class="btn btn-danger m-1" (click)="testPrint()">Druck</button>
    </div>
</div>