<div class="container-fluid">
    <div class="row">
        <!-- Left side: List of Orders -->
        <div class="col-md-6">
            <h2>Orders</h2>
            <ul class="list-group">
                <li *ngFor="let order of orders" class="list-group-item">
                    <div>
                        <strong>Order {{ order.id }}</strong>
                    </div>
                    <div>Table: {{ order.tableNumber }}</div>
                    <div>Waiter: {{ order.waiter }}</div>
                    <div *ngFor="let drink of order.drinks">
                        <span>{{ drink.identifier }} (Amount: {{ drink.amount }})</span>
                    </div>
                    <div>
                        <button class="btn btn-success" (click)="setOrderStatus(order, 'READY')">Set Ready</button>
                        <button class="btn btn-primary" (click)="setOrderStatus(order, 'DELIVERED')">Set Delivered</button>
                    </div>
                </li>
            </ul>
        </div>
        
  
        <!-- Right side: Meal Overview -->
        <div class="col-md-6">
            <h2>Drink Overview</h2>
            <ul class="list-group">
            <li *ngFor="let entry of drinkOverview | keyvalue" class="list-group-item">
                {{ entry.key }}: {{ entry.value }}
            </li>
            </ul>
        </div>
    </div>  
</div>
  