.container {
  margin: auto;
}

.btn-group {
  margin-bottom: 10px;
}

.badge {
  margin-left: 5px;
}

.menuitem {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  max-width: 250px;
}

.menubox {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.lbl {
  max-width: 80%;
  font-size: 12px !important;
  justify-content: space-between;
}