.container {
    margin: auto;
  }
  
  .btn-group {
    margin-bottom: 10px;
  }
  
  .badge {
    margin-left: 5px;
  }
  
  .menuitem {
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }

  .menubox {
    border-width: 2px;
    border-style: solid;
    border-color: black;
  }