<div class="container mt-4 d-flex justify-content-center align-items-center">
  <form class="flex-column justify-content-center">
    <h2 class="text-center p-3">Order Management</h2>
    <div class="mb-3 d-flex justify-content-center align-items-center">
      <label for="tableNumber" class="form-label mx-2 p-2">Tischnummer:</label>
      <input type="text" class="form-control w-50 mx-2" [(ngModel)]="order.tableNumber" name="tableNumber" required>
      <div *ngIf="showErrorMessage" class="alert alert-danger">Pflichtfeld!</div>
    </div>

    <div class="col">
      <div class="mb-3 d-flex flex-column justify-content-center menubox rounded">
        <p><b>Speisen auswählen:</b></p>
        <div class="btn-group d-flex flex-row flex-wrap w-100 justify-content-around" role="group" aria-label="Meal Buttons">
          <div *ngFor="let meal of availableMeals" class="d-flex flex-row align-items-center menuitem rounded w-50">
            <button type="button" class="btn btn-primary btn-sm m-1 d-flex align-items-center fs-6" (click)="addMeal(meal)">
              {{ meal.identifier }}
              <span class="badge bg-secondary ms-2">{{ meal.amount }}</span>
            </button>
            <button class="btn btn-danger btn-sm" (click)="removeMeal(meal)"><b>-</b></button>
          </div>
        </div>
      </div>

      <div class="mb-3 d-flex flex-column justify-content-center menubox rounded">
        <p><b>Getränke auswählen:</b></p>
        <div class="btn-group d-flex flex-row flex-wrap w-100 justify-content-around" role="group" aria-label="Meal Buttons">
          <div *ngFor="let drink of availableDrinks" class="d-flex flex-row align-items-center menuitem rounded w-50">
            <button type="button" class="btn btn-primary btn-sm m-1 d-flex flex-fill align-items-center fs-6" (click)="addDrink(drink)">
              {{ drink.identifier }}
              <span class="badge bg-secondary ms-2">{{ drink.amount }}</span>
            </button>
            <button class="btn btn-danger btn-sm m-1" (click)="removeDrink(drink)"><b>-</b></button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success m-1" (click)="submitOrder()">Bestellung abschließen</button>
    <button type="button" class="btn btn-danger m-1" (click)="back()">Zurück</button>
    <strong>Gesamtsumme:</strong> {{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}
    <div *ngIf="showErrorMessage" class="alert alert-danger">Tischnummer benötigt!</div>
    <button type="button" class="btn btn-info m-1" (click)="clearSubTotal()">Zwischensumme löschen</button>
    <strong>Zwischensumme:</strong> {{ subtotal | currency:'EUR':'symbol':'1.2-2' }}
  </form>
</div>
