<div class="container mt-4 d-flex justify-content-center align-items-center">
  <form class="flex-column justify-content-center">
    <h2 class="text-center p-3">Order Management</h2>
    <div class="mb-3 d-flex justify-content-center align-items-center">
      <label for="tableNumber" class="form-label mx-2 p-2">Table Number:</label>
      <input type="text" class="form-control w-50 mx-2" [(ngModel)]="order.tableNumber" name="tableNumber" required>
      <div *ngIf="showErrorMessage" class="alert alert-danger">Required field</div>
    </div>

    <div class="col">
      <div class="mb-3 d-flex flex-column justify-content-center menubox rounded">
        <p><b>Select Meals:</b></p>
        <div class="btn-group d-flex flex-row flex-wrap w-100 justify-content-center" role="group" aria-label="Meal Buttons">
          <div *ngFor="let meal of availableMeals" class="flex-col align-items-center menuitem rounded m-1">
            <button type="button" class="btn btn-primary m-1 d-flex align-items-center row-6">
              {{ meal.identifier }}
              <span class="ms-2">({{ meal.price | currency:'EUR':'symbol':'1.2-2'}})</span>
              <span class="badge bg-secondary ms-2">{{ meal.amount }}</span>
            </button>
            <div class="d-flex flex-row justify-content-end">
              <span class="w-auto m-1">{{ (meal.price * meal.amount) | currency:'EUR':'symbol':'1.2-2' }}</span>
              <button class="btn btn-success btn-sm m-1 w-auto" (click)="addMeal(meal)"><b>+</b></button>
              <button class="btn btn-danger btn-sm m-1 w-auto" (click)="removeMeal(meal)"><b>-</b></button>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 d-flex flex-column justify-content-center menubox rounded">
        <p><b>Select Drinks:</b></p>
        <div class="btn-group d-flex flex-row flex-wrap w-100 justify-content-center" role="group" aria-label="Meal Buttons">
          <div *ngFor="let drink of availableDrinks" class="flex-col align-items-center menuitem rounded m-1">
            <button type="button" class="btn btn-primary m-1 d-flex align-items-center row-6">
              {{ drink.identifier }}
              <span class="ms-2">({{ drink.price | currency:'EUR':'symbol':'1.2-2'}})</span>
              <span class="badge bg-secondary ms-2">{{ drink.amount }}</span>
            </button>
            <div class="d-flex flex-row justify-content-end">
              <span class="w-auto m-1">{{ (drink.price * drink.amount) | currency:'EUR':'symbol':'1.2-2' }}</span>
              <button class="btn btn-success btn-sm m-1 w-auto" (click)="addMeal(drink)"><b>+</b></button>
              <button class="btn btn-danger btn-sm m-1 w-auto" (click)="removeMeal(drink)"><b>-</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success m-1" (click)="submitOrder()">Submit Order</button>
    <button type="button" class="btn btn-danger m-1" (click)="back()">Back</button>
    <strong>Order Total:</strong> {{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}
    <button type="button" class="btn btn-info m-1" (click)="clearSubTotal()">Clear Subtotal</button>
    <strong>Order Total:</strong> {{ subtotal | currency:'EUR':'symbol':'1.2-2' }}
  </form>
</div>
